body{
  margin: 0;
  width: 1024px;
  height: 768px;
}

.mainNav ul{
  width: 1024px;
  height: 768px;
  padding: 0;
}
.mainNav li {
  list-type: none;
  display: inline-block;
  padding: 269px 47px 0;
}

.mainNav img {
  width: 234px;
  height: 230px;
}




.content-box {
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 50px;
  right: 45px;
  bottom: 30px;
  left: 45px;
  padding: 30px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.content-box a {
  color: #eee;
}

.content-box h2 {
  font-size: 40px
}

.content-box p{
  font-size: 23px;
}

.hidden {
  display: none;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 24px
}
